[Desktop Entry]
Encoding=UTF-8
Name=Link to Go-toubun no Hanayome, Nino Nakano, Yotsuba Nakano, Ichika Nakano, Itsuki Nakano
Type=Link
URL=http://static.minitokyo.net/downloads/25/42/739625.jpg
Icon=image-jpeg
