[Desktop Entry]
Encoding=UTF-8
Name=Link to 中野一花gif.gif
Type=Link
URL=https://img.moegirl.org/common/8/8d/%E4%B8%AD%E9%87%8E%E4%B8%80%E8%8A%B1gif.gif
Icon=image-gif
