[Desktop Entry]
Encoding=UTF-8
Name=Link to 中野二乃gif.gif
Type=Link
URL=https://img.moegirl.org/common/e/ea/%E4%B8%AD%E9%87%8E%E4%BA%8C%E4%B9%83gif.gif
Icon=image-gif
