[Desktop Entry]
Encoding=UTF-8
Name=Link to 中野三玖gif.gif
Type=Link
URL=https://img.moegirl.org/common/a/aa/%E4%B8%AD%E9%87%8E%E4%B8%89%E7%8E%96gif.gif
Icon=image-gif
