[Desktop Entry]
Encoding=UTF-8
Name=Link to 中野四叶gif.gif
Type=Link
URL=https://img.moegirl.org/common/0/02/%E4%B8%AD%E9%87%8E%E5%9B%9B%E5%8F%B6gif.gif
Icon=image-gif
