[Desktop Entry]
Encoding=UTF-8
Name=Link to Tezuka Productions, Go-toubun no Hanayome, Nino Nakano, Miku Nakano , Yotsuba Nakano
Type=Link
URL=http://static.minitokyo.net/downloads/02/30/741502.jpg
Icon=image-jpeg
